<section class="section_item flex-container color-background">
  <p class="flex-item">¡Feliz cumpleaños!</p>
  <div class="cat">
    <img src="" class="flex-img floof_img">
  </div>
</section>

<button type="button" id="buttonPress" class="rainbow-button button_press">Quiero mi regalo</button>
